#loginContainerStyle {
	display: flex;
	justify-content: center;
	align-items: center;
	// border: 1px solid red;
	height: 100vh;
}

#loginContainerStyle h1 {
	font-size: 5em;
	padding: 0;
	margin: 0;
}
