@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

$font: 'Be Vietnam Pro', sans-serif; 

* {
  font-family: $font;
}

#title {
  text-align: center;
}

button {
  border: none;
  background-color: white;
  font-size: 2em;
}

// button.delete {
//   font-size: 2em;
// }

body {
  // background: linear-gradient(40deg, #b99bf1, #c98aee, #b87ee7, #9f5aee);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}
// h1 {
//   text-align: center;
// }
// div {
//   text-align: center;
// }